<!--Footer Info -->
                <div class="row footer-info mb-60">
                    <div class="col-md-3 col-sm-12 mb-sm-30">
                        <p class="mb-xs-0">We are a collective of musicians and engineers that want to use our skills and expertise to help you with all of your audio needs.</p>
                        <a class="btn-link-a" href="/about">Read More</a>
                    </div>
                    <div class="col-md-3 col-sm-6 mb-sm-30 mb-xs-0">
                        <ul class="link">
                            <li><%= link_to "Home", root_path%></li>
                            <li><%= link_to "About Us", about_path%></li>
                            <li><%= link_to "Services", about_path%></li>
                        </ul>
                    </div>
                    <div class="col-md-3 col-sm-6 mb-sm-30">
                        <ul class="link">
                            <li><%= link_to "Contact Us", contact_path%></li>
                            <li><%= link_to "FAQ", faq_path%></li>
                        </ul>
                    </div>
                    <div class="col-md-3 col-sm-12">
                        <p>New York, New York</p>
                        <ul class="link-small">
                            <li><a href="mailto:info@audisea.io"><i class="fa fa-envelope-o left"></i>info@audisea.io</a></li>
                            <!-- <li><a><i class="fa fa-phone left"></i>+40 (0) 012 345 6789</a></li>
                        </ul> -->
                    </div>
                </div>
<!-- End Footer Info -->