<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Audisea</title>
    <meta name="description" content="" />
    <meta name="keywords" content="" />
    <meta name="author" content="nileforest">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0" />
    
    <%= render 'layouts/shim' %>

    <%= render 'layouts/favicone' %>

    <%= render 'layouts/css' %>

</head>

<body>

    <%= render 'static_pages/preloader' %>

    <%= render 'static_pages/search_overlay_menu' %>

    <%= render 'static_pages/sidemenu' %>

    <%= render 'static_pages/header/header' %>
<!-- CONTENT --------------------------------------------------------------------------------->

<!-- Intro Section -->
        <section class="inner-intro dark-bg bg-image overlay-dark parallax parallax-background1" data-background-img="img/full/console.jpg">
            <div class="container">
                <div class="row title">
                    <h2 class="h2">Services</h2>
                    <div class="page-breadcrumb">
                        <a><%= link_to "Home", root_path%></a>/<span>Services</span>
                    </div>
                </div>
            </div>
        </section>
        <!-- End Intro Section -->
        
        <%= render 'static_pages/home/services' %>

        <!-- Statement Section -->
        <section class="dark-bg  ptb-60" id="statement">
            <div class="container text-center">
                <div class="row">
                    <div class="col-md-8 offset-md-2">
                        <h4 class="mb-15">Ready to get to work?</h4>
                        <a class="btn btn-md btn-white" href="/contact">Contact Us</a>
                    </div>
                </div>
            </div>
        </section>
        <!-- End Statement Section -->

        <!-- Contant Slider Section -->
        <section id="contant" class="wow fadeIn ptb ptb-sm-80">
            <div class="owl-carousel content-carousel content-slider">
                <div class="item">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-6 mb-sm-30">
                                <img src="img/moc-1.png" alt="" />
                            </div>
                            <div class="col-md-5 offset-md-1">
                            	<h3>Editing</h3>
                                <div class="spacer-15"></div>
                                <p>Our editing team has been augmenting audio for almost 2 decades. Growing up in an artistic environement our cheif editor has been transforming music from a very young age. With clients ranging from independent artists, all the way to professional studio owners, we've never had a bad edit!</p>
                                <div class="spacer-15"></div>
                                <a class="btn btn-md btn-black" href="/contact">Contact Us</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="item">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-5 mb-sm-30">
                                <h3>Recording</h3>
                                <div class="spacer-15"></div>
                                <p>Operating mostly our of the greater New York area, we have a large selection of recording studios at our disposal. At the moment our head engineer co-owns and operates a boutique studio in Brooklyn, however if you need more space we do have contacts in larger studios!</p>
                                <p>Our recording team has worked on projects that vary from independent records, albums, podcasts, and film projects!</p>
                                <div class="spacer-15"></div>
                                <a class="btn btn-md btn-black" href="/contact">Contact Us</a>
                            </div>
                            <div class="col-md-6 offset-md">
                                <img src="img/full/ssl.jpg" alt="" />
                            </div>
                        </div>
                    </div>
                </div>
                <div class="item">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-6 mb-sm-30">
                                <img src="img/moc-1.png" alt="" />
                            </div>
                            <div class="col-md-5 offset-md-1">
                                <h3>Mixing & Mastering</h3>
                                <div class="spacer-15"></div>
                                <p>In addition to being able to record your records and projects, we also have the ability to mix and master your projects when they are done!</p>
                                <p>We consider mixing to be and art, not a science. Whether you're releasing a single on Soundcloud, or an Album for Columbia Records, we'll make sure your tunes are sound clean and artistic.</p>
                                <p>Once the mixing is process is done, we can bring it over to the mastering group. Here we polish your tracks and bring them up to their fullest potential!</p>
                                <div class="spacer-15"></div>
                                <a class="btn btn-md btn-black" href="/contact">Contact Us</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="item">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-5 mb-sm-30">
                                <h3>Audio Consulting</h3>
                                <div class="spacer-15"></div>
                                <p>Each team member is well versed in various aspects of the audio industry. Whether you're looking for help with constructing your studio, laying out your patchbay, or acoustically treating your rooms. Our team is ready to get down to the nitty gritty to help you have the best acoustic experience!</p>
                                <div class="spacer-15"></div>
                                <a class="btn btn-md btn-black" href="/contact">Contact Us</a>
                            </div>
                            <div class="col-md-6 offset-md-1">
                                <img src="img/moc-1.png" alt="" />
                            </div>
                        </div>
                    </div>
                </div>
                <div class="item">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-6 mb-sm-30">
                                <img src="img/full/analog_synth.jpg" alt="" />
                            </div>
                            <div class="col-md-5 offset-md-1">
                                <h3>Audio Production</h3>
                                <div class="spacer-15"></div>
                                <p>Our team of producers are experts at taking a rough idea and turning it into something great! We're always ready to talk about your dreams and see them come to light!</p>
                                <div class="spacer-15"></div>
                                <a class="btn btn-md btn-black" href="/contact">Contact Us</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- End Contain Slider Section -->

        <!-- End Service Section -->

<!-- End CONTENT ------------------------------------------------------------------------------>

	<%= render 'static_pages/footer/footer' %>

    <%= render 'static_pages/scroll_top' %>

    </div>
    <!-- Site Wraper End -->


    <!-- JS -->

    <script src="js/jquery-1.11.2.min.js" type="text/javascript"></script>
    <script src="js/jquery-ui.min.js" type="text/javascript"></script>
    <script src="js/plugin/jquery.easing.js" type="text/javascript"></script>
    <script src="js/bootstrap.min.js" type="text/javascript"></script>
    <script src="js/plugin/jquery.flexslider.js" type="text/javascript"></script>
    <script src="js/plugin/jquery.fitvids.js" type="text/javascript"></script>
    <script src="js/plugin/jquery.viewportchecker.js" type="text/javascript"></script>
    <script src="js/plugin/jquery.stellar.min.js" type="text/javascript"></script>
    <script src="js/plugin/wow.min.js" type="text/javascript"></script>
    <script src="js/plugin/jquery.colorbox-min.js" type="text/javascript"></script>
    <script src="js/plugin/owl.carousel.min.js" type="text/javascript"></script>
    <script src="js/plugin/isotope.pkgd.min.js" type="text/javascript"></script>
    <script src="js/plugin/masonry.pkgd.min.js" type="text/javascript"></script>
    <script src="js/plugin/imagesloaded.pkgd.min.js" type="text/javascript"></script>
    <script src="js/plugin/jquery.fs.tipper.min.js" type="text/javascript"></script>
    <script src="js/plugin/mediaelement-and-player.min.js"></script>
    <script src="js/plugin/jquery.validate.min.js" type="text/javascript"></script>
    <script src="js/plugin/sidebar-menu.js" type="text/javascript"></script>
    <script src="js/theme.js" type="text/javascript"></script>
    <script src="js/navigation.js" type="text/javascript"></script>
</body>
</html>
