<%= render 'static_pages/home/intro' %>
<div class="clearfix"></div>
<hr />
<%= render 'static_pages/home/services' %>
<%= render 'static_pages/home/counter' %>
<%= render 'static_pages/home/process' %>
<hr />
<%= render 'static_pages/home/testimonials' %>
<hr />